// Colors
$white: rgba(255, 255, 255, 1);
$black: rgba(9, 5, 23, 1);

// Shades
// purple
$purple-100: rgba(247, 239, 255, 1);
$purple-200: rgba(225, 202, 255, 1);
$purple-300: rgba(195, 161, 238, 1);
$purple-400: rgba(149, 103, 207, 1);
$purple-500: rgba(105, 56, 169, 1);
$purple-600: rgba(82, 35, 141, 1);
$purple-700: rgba(60, 12, 111, 1);
$purple-800: rgba(39, 2, 80, 1);

// green
$green-50: rgba(221, 250, 231, 1);
$green-100: rgba(149, 250, 189, 1);
$green-200: rgba(139, 219, 171, 1);
$green-300: rgba(59, 193, 113, 1);
$green-400: rgba(18, 164, 77, 1);
$green-500: rgba(9, 205, 97, 1);
$green-600: rgb(8, 157, 75);
$green-700: rgb(68, 114, 90);
$green-800: rgba(0, 88, 36, 1);

// red
/*TODO 50 И 100 одинаковые*/
$red-50: rgba(255, 229, 233, 1);
$red-100: rgba(255, 229, 233, 1);
$red-200: rgba(255, 224, 226, 1);
$red-300: rgba(249, 143, 159, 1);
$red-400: rgba(255, 100, 124, 1);
$red-500: rgba(203, 33, 59, 1);
$red-600: rgba(188, 40, 62, 1);
$red-700: rgba(143, 0, 21, 1);
$red-800: rgba(119, 1, 19, 1);

// orange
/*TODO 50 И 100 одинаковые*/
$yellow-50: rgba(255, 248, 224, 1);
$yellow-100: rgba(255, 248, 224, 1);
$yellow-200: rgba(255, 244, 205, 1);
$yellow-300: rgba(255, 221, 100, 1);
$yellow-400: rgba(255, 184, 0, 1);
$yellow-500: rgba(220, 172, 4, 1);
$yellow-600: rgba(255, 153, 0, 1);
$yellow-700: rgb(182, 131, 94);
$yellow-800: rgba(84, 66, 1, 1);

// grey
$grey-100: rgba(249, 249, 250, 1);
$grey-200: rgba(241, 241, 244, 1);
$grey-300: rgba(228, 228, 235, 1);
$grey-400: rgba(205, 205, 214, 1);
$grey-500: rgba(160, 162, 174, 1);
$grey-600: rgba(127, 129, 143, 1);
$grey-700: rgba(93, 95, 107, 1);
$grey-800: rgba(75, 77, 90, 1);

// blue
$blue-100: rgba(229, 238, 255, 1);
$blue-200: rgba(151, 179, 237);
$blue-500: rgba(28, 92, 228, 1);
$blue-700: rgba(3, 38, 113, 1);
$blue-800: rgba(2, 29, 87, 1);
